addon/jmix-active-only-checkbox/src/main/resources/com/digitilius/jmix/addon/active-only-checkbox.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:layout="http://jmix.io/schema/flowui/layout"
           targetNamespace="http://digitilius.com/schema/active-only-checkbox"
           xmlns="http://digitilius.com/schema/active-only-checkbox"
           elementFormDefault="qualified">

    <!-- enum for orderDirection -->
    <xs:simpleType name="orderDirectionType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ASC"/>
            <xs:enumeration value="DESC"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="activeOnlyCheckbox">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="layout:checkboxComponent">

                    <xs:attribute name="activeField" type="xs:string"/>
                    <xs:attribute name="orderByField" type="xs:string"/>
                    <xs:attribute name="orderDirection" type="orderDirectionType"/>
                    <xs:attribute name="dataLoader" type="xs:string"/>
                    <xs:attribute name="initialValue" type="xs:boolean"/>

                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
</xs:schema>